.App {
  padding: 50px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.text-green{
  color: green;
}

.text-red{
  color: red
}

.welcome-wrapper{
  padding: 20px;
  justify-content: center;
  text-align: center;
}

.welcome-para{
  color: purple
}

.welcome-css{
  border: 2px dashed red;
}