.App {
  padding: 50px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.text-green{
  color: green;
}

.text-red{
  color: red
}

.welcome-wrapper{
  padding: 20px;
  justify-content: center;
  text-align: center;
}

.welcome-para{
  color: purple
}

.welcome-css{
  border: 2px dashed red;
}

.App{
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  padding: 16px;
}

.calculator{
  width: 100%;
  max-width: 400px;
  background-color: #fff;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0px 2px 64px rgba(0, 0, 0, 0.2);
  color: black !important;
}

.display{
  padding:16px;
  text-align: right;
  background-color: var(--dark);
  color: var(--light);
  font-size: 24px;
  font-weight: 300;
}

.display span{
  font-size: 14px;
  color: #888;
}

button{
  appearance: none;
  border: none;
  outline: none;
  font-size: 20px;
  padding: 16px;
  cursor: pointer;
  transition: 0.4s;
}

button:hover{
  opacity: 0.9;
}

.operators{
  display:flex;
}

.operators button{
  flex: 1 1 0%;
  background-color: var(--secondary);
  font-weight: 700;
}

.digits{
  display: flex;
  flex-wrap: wrap;
}

.digits button{
  flex: 1 1 33.333%;
  max-width: 33.333%;
  background-color: var(--dark);
}

.digitsAndOperators{
  display:flex;
}

.operators-1 button{
  width: 100%;
  background-color: var(--primary);
  font-weight: 700;
}